<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiConexion"
            connectionString="Data Source=sqlserver.S2AM.sdslab.cat;Initial Catalog=SecureCoreG5;Persist Security Info=True;User ID=G5;Password=12345G5aA2425."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>